:root {
    --gradient-start: hsl(6, 100%, 80%);
    --gradient-end: hsl(335, 100%, 65%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
}
* {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: url(../images/bg-desktop.png);
    background-color: var(--very-dark-blue);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
}
#contenedor {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-gap: 20px;
    grid-template-areas: "area-menu area-disco"
                        "area-menu area-disco";
    margin-bottom: 20px;
}
#fylo-menu {
    grid-area: area-menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    border-radius: 8px;
    border-top-right-radius: 80px;
    background-color: var(--dark-blue);
    padding-left: 30px;
    filter: drop-shadow(3px 3px 8px var(--very-dark-blue));
}
#bocadillo {
    grid-area: area-bocadillo;
    height: 0;
}
#almacenamiento {
    grid-area: area-disco;
    background-color: var(--dark-blue);
    width: 100%;
    height: 75%;
    align-self: end;
    border-radius: 8px;
    padding: 30px;
    bottom: 0;
}
.logo {
    margin-left: 0;
    margin-top: 40px;
    justify-self: start;
    align-self: center;
    width: 45%;
}
.botonera {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0;
    margin-bottom: 15px;
}
.boton {
    width: 3em;
    height: 3em;
    margin-right: 15px;
    background-color: var(--very-dark-blue);
    border: 0;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
}
#b-document {
    background-image: url("../images/icon-document.svg");
}
#b-folder {
    background-image: url("../images/icon-folder.svg");
}
#b-upload {
    background-image: url("../images/icon-upload.svg");
}
.progreso {
    height: 1.2em;
    width: 100%;
    border: 2px solid var(--very-dark-blue);
    border-radius: 15px; 
    overflow: hidden;
    background-color: var(--very-dark-blue);
    margin-top: 15px;
    margin-bottom: 5px;
}
.progreso::-webkit-progress-bar {
    background-color: var(--very-dark-blue);
}
.progreso::-webkit-progress-value {
    background-image: linear-gradient(to right, var(--gradient-end), var(--gradient-start));
}
.progreso::-moz-progress-bar { 
    background-image: -moz-linear-gradient(right, var(--gradient-end), var(--gradient-start));
}
.mensaje,
.rangos {
    font-size: 14px;
    color: var(--white);
    filter: opacity(70%);
}
.acento,
.rangos {
    font-weight: bold;
}
.rangos {
    font-size: 12px;
}
.rangos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.valor1 {
    justify-self: start;
    margin: 0;
}
.valor2 {
    justify-self: end;
    margin: 0;
}
.espacio-libre {
    position: relative;
    transform: translateY(-11vh);
    margin-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.7em;
    width: 10vw;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
    border-radius: 8px;
}
.espacio-libre::after {
    background-color: transparent;
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-right: 25px solid var(--white);
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent; 
    bottom: -33%;
    right: 0;
}
.number {
    font-size: 2em;
    margin-right: 5px;
}
.gb-left {
    font-size: .6em;
    filter: opacity(50%);
    margin-left: 5px;
    text-transform: uppercase;

}
@media screen and (max-width: 700px) {
    body {
        background-image: url(../images/bg-mobile.png);
        background-color: var(--very-dark-blue);
        background-repeat: no-repeat;
        background-size: cover;
    }
    #contenedor {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: "area-menu"
                            "area-disco";
        margin-bottom: 20px;
    }
    #almacenamiento {
        height: 75%;
        align-self: start;
        top: 0;
    }
    .espacio-libre {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        transform: translateY(125%);
        width: 40vw;
    }
    .espacio-libre::after {
        display: none;
    }
}





















.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}